.idea/
__pycache__/
com.bilibili.azurlane/cache
com.bilibili.azurlane/files
output/com.bilibili.azurlane
al-unpack-control/al-unpack-control/al-unpack-control/Debug
al-unpack-control/al-unpack-control/Debug
tmp.py
tmp.ppm
tmp.pkm
*.pgm
BlhxCueDecoder.exe
format.dll
vgmtutil.dll

*.ipch
*.db
.suo
*.opendb
*.log
*.tlog
*.idb
*.pdb
*.vcxproj*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
tmp.py
al-unpack-control/al-unpack-control/Debug/al-unpack-control.exe
al-unpack-control/al-unpack-control/al-unpack-control.sln
